[Unit]
Description=Start sensor on boot
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u sensor_run.py 4 a19nuo7ml0j5az-ats.iot.ap-southeast-2.amazonaws.com /home/pi/root-CA.crt /home/pi/Sensor4.private.key /home/pi/Sensor4.cert.pem SDS011
WorkingDirectory=/home/pi/SDD-Sensor-App/rpi-sensor-node
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
