boto3
jsonschema
numpy
pandas
Flask
Flask-Compress
Flask-Cors
Flask-SeaSurf
dash
dash-auth
dash-bootstrap-components
dash-core-components
dash-daq==0.1.0
dash-html-components
dash-renderer
dash-table
plotly
dynamodb-json
